# Dengue by DISTRICT and Year in Singapore

# Source

https://outbreak.sgcharts.com/data

---

# Open Files and Clean The Data

Source: https://www.geeksforgeeks.org/os-module-python-examples/

In [10]:
# import necessary libraries
import pandas as pd
import os
import glob
  
  
# use glob to get all the csv files 
# in the folder
path = "csv" #os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))
  
df_list = []  
# loop over the list of csv files
for f in csv_files:
      
    # read the csv file
    df = pd.read_csv(f)
    df.columns = ['Number Of Cases', 'Street Address','Latitude','Longitude','Cluster Number','Recent Cases In Cluster','Total Cases In Cluster','Date','Month Number']

    df_list.append(df)
    ''' 
    # print the location and filename
    print('Location:', f)
    print('File Name:', f.split("\\")[-1])
      
    # print the content
    print('Content:')
    display(df.head())
    print(df.shape)
    '''

In [11]:
merged_df = pd.concat(df_list, ignore_index=True, axis=0)

In [12]:
print(merged_df.shape)

(56720, 9)

In [13]:
merged_df.head()

,Number Of Cases,Street Address,Latitude,Longitude,Cluster Number,Recent Cases In Cluster,Total Cases In Cluster,Date,Month Number
0,7,bishan street 22 (block 233),1.358639,103.845259,1,24,83,150703,7
1,3,bishan street 22 (block 234),1.358390,103.845955,1,24,83,150703,7
2,1,bishan street 22 (block 235),1.358719,103.846477,1,24,83,150703,7
3,4,bishan street 22 (block 236),1.359041,103.846849,1,24,83,150703,7
4,1,bishan street 22 (block 237),1.359335,103.847097,1,24,83,150703,7

In [14]:
merged_df.columns

Index(['Number Of Cases', 'Street Address', 'Latitude', 'Longitude',
       'Cluster Number', 'Recent Cases In Cluster', 'Total Cases In Cluster',
       'Date', 'Month Number'],
      dtype='object')

In [16]:
merged_df['Street Address'][1]

'bishan street 22 (block 234)'

In [17]:
import googlemaps
api_key = 'AIzaSyDgh463EfzQ4RwICQak8i48sgIynEX-EO4'
gmaps = googlemaps.Client(key=api_key)

In [18]:
gmaps.geocode(merged_df['Street Address'][1])

[{'address_components': [{'long_name': 'Block 234',
    'short_name': 'Block 234',
    'types': ['premise']},
   {'long_name': '234', 'short_name': '234', 'types': ['street_number']},
   {'long_name': 'Bishan Street 22',
    'short_name': 'Bishan Street 22',
    'types': ['route']},
   {'long_name': 'Bishan',
    'short_name': 'Bishan',
    'types': ['neighborhood', 'political']},
   {'long_name': 'Singapore',
    'short_name': 'Singapore',
    'types': ['locality', 'political']},
   {'long_name': 'Singapore',
    'short_name': 'SG',
    'types': ['country', 'political']},
   {'long_name': '570234', 'short_name': '570234', 'types': ['postal_code']}],
  'formatted_address': '234 Bishan Street 22, Block 234, Singapore 570234',
  'geometry': {'bounds': {'northeast': {'lat': 1.3586233, 'lng': 103.8462722},
    'southwest': {'lat': 1.3582499, 'lng': 103.8458552}},
   'location': {'lat': 1.3584894, 'lng': 103.8460363},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 1.359853780291502,
     'lng': 103.8474126802915},
    'southwest': {'lat': 1.357155819708498, 'lng': 103.8447147197085}}},
  'place_id': 'ChIJpx1NuRgX2jERVxvCIHGkYPY',
  'types': ['premise']}]

---

## Source: https://www.geeksforgeeks.org/get-the-city-state-and-country-names-from-latitude-and-longitude-using-python/

In [20]:
import sys

In [21]:
!{sys.executable} -m pip install geopy

Collecting geopy
  Downloading geopy-2.3.0-py3-none-any.whl (119 kB)
     -------------------------------------- 119.8/119.8 kB 6.8 MB/s eta 0:00:00
Collecting geographiclib<3,>=1.52
  Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
     ---------------------------------------- 40.3/40.3 kB 1.9 MB/s eta 0:00:00
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.3.0

In [23]:
import geopy
from geopy.geocoders import Nominatim

In [24]:
# initialize Nominatim API
geolocator = Nominatim(user_agent="geoapiExercises")

In [34]:
gmaps.geocode(merged_df['Street Address'][1])[0]['geometry']['location']#['address_components']#['location']

{'lat': 1.3584894, 'lng': 103.8460363}

In [35]:
latitude = gmaps.geocode(merged_df['Street Address'][1])[0]['geometry']['location']['lat']

longitude = gmaps.geocode(merged_df['Street Address'][1])[0]['geometry']['location']['lng']

In [46]:
latitude

1.3584894

In [48]:
location = geolocator.reverse(str(latitude)+", "+str(longitude))
print(location)

234, Bishan Street 22, Marymount, Bishan, Singapore, Central, 570233, Singapore

In [49]:
address = location.raw['address']
print(address)

{'house_number': '234', 'road': 'Bishan Street 22', 'quarter': 'Marymount', 'suburb': 'Bishan', 'city': 'Singapore', 'county': 'Central', 'ISO3166-2-lvl6': 'SG-01', 'postcode': '570233', 'country': 'Singapore', 'country_code': 'sg'}

In [52]:
quarter = address.get('quarter', '')
suburb = address.get('suburb', '')
county = address.get('county', '')

country = address.get('country', '')
code = address.get('country_code')
zipcode = address.get('postcode')
print('Quarter : ',quarter)
print('Suburb : ',suburb)
print('County : ',county)

print('Country : ',country)
print('Zip Code : ', zipcode)

Quarter :  Marymount
Suburb :  Bishan
County :  Central
Country :  Singapore
Zip Code :  570233

---

In [62]:
import numpy as np

In [63]:
merged_df["Quarter"] = np.nan
merged_df["Suburb"] = np.nan
merged_df["County"] = np.nan

In [64]:
merged_df.head(3)

,Number Of Cases,Street Address,Latitude,Longitude,Cluster Number,Recent Cases In Cluster,Total Cases In Cluster,Date,Month Number,Quarter,Suburb,County
0,7,bishan street 22 (block 233),1.358639,103.845259,1,24,83,150703,7,NaN,NaN,NaN
1,3,bishan street 22 (block 234),1.358390,103.845955,1,24,83,150703,7,NaN,NaN,NaN
2,1,bishan street 22 (block 235),1.358719,103.846477,1,24,83,150703,7,NaN,NaN,NaN

In [65]:
merged_df.shape[0]

56720

In [66]:
range(merged_df.shape[0])

range(0, 56720)

In [67]:
merged_df.loc[0]

Number Of Cases                                       7
Street Address             bishan street 22 (block 233)
Latitude                                       1.358639
Longitude                                    103.845259
Cluster Number                                        1
Recent Cases In Cluster                              24
Total Cases In Cluster                               83
Date                                             150703
Month Number                                          7
Quarter                                             NaN
Suburb                                              NaN
County                                              NaN
Name: 0, dtype: object

In [68]:
merged_df.loc[0]['Street Address']

'bishan street 22 (block 233)'

In [69]:
merged_df.loc[0]['Latitude']

1.358639

In [88]:
location_indices = np.arange(0,56720,1)

In [90]:
merged_df = pd.read_csv('dengue_by_quarter_suburb_county.csv')

In [91]:
for i in location_indices[2708:]:
    location = geolocator.reverse(str(merged_df.loc[i]['Latitude'])+", "+str(merged_df.loc[i]['Longitude']))   
    address = location.raw['address']
    merged_df.at[i,'Quarter'] = address.get('quarter', '')
    merged_df.at[i,'Suburb'] = address.get('suburb', '')
    merged_df.at[i,'County'] = address.get('county', '')
    # print(address.get('quarter', ''))

In [ ]:
merged_df.head()

,Number Of Cases,Street Address,Latitude,Longitude,Cluster Number,Recent Cases In Cluster,Total Cases In Cluster,Date,Month Number,Quarter,Suburb,County
0,7,bishan street 22 (block 233),1.358639,103.845259,1,24,83,150703,7,Marymount,Bishan,Central
1,3,bishan street 22 (block 234),1.358390,103.845955,1,24,83,150703,7,Marymount,Bishan,Central
2,1,bishan street 22 (block 235),1.358719,103.846477,1,24,83,150703,7,Marymount,Bishan,Central
3,4,bishan street 22 (block 236),1.359041,103.846849,1,24,83,150703,7,Marymount,Bishan,Central
4,1,bishan street 22 (block 237),1.359335,103.847097,1,24,83,150703,7,Marymount,Bishan,Central

In [86]:
import pandas as pd

In [87]:
merged_df.to_csv('dengue_by_quarter_suburb_county.csv')